<h2>Score : <%= @_total_score %></h2>
<h1>New Game</h1>
<ul>
  <% @letters.each do |letter| %>
  <li><%= letter %></li>
  <% end %>
</ul>
<form method="post" action="score">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :original_letters, @letters %>
  <label for="answer">What is the longest word you can find?</label>
  <input type="text" name="answer">
  <input type="submit" value="Submit">
</form>
